<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Order Confirmation</h2>
    <p>
        Hello {{ order.user.username }},<br>
        Thank you for placing your order!<br>
        Your order details:<br>
        Order ID: {{ order.id }}<br>
        Total Quantity: {{ order.total_quantity }}<br>
        Total Sum: {{ order.total_sum }}<br>
        Contact ID: {{ order.contact_id }}<br>
        ...
    </p>
</body>
</html>
